<% content_for :title do %>My Services<% end %>
<% content_for :datalayer do%>
<% end %>
<div class="container my-services-section">
  <h1><i class="fa fa-suitcase"></i> My Services</h1>
  <p>Services allow you or business to offer goods and services to targeted users
  who are looking for what you offer.</p>
  <ul class="nav nav-tabs">
    <li class="active services-tab"><a data-toggle="tab" href="#services"><i class="fa fa-cog"></i> Manage Services (<span class="service-count"><%= @user_service_count %></span>)</a></li>
    <li class="create-tab"><a data-toggle="tab" href="#create"><i class="fa fa-file"></i> Create New Service</a></li>
  </ul>

  <div class="tab-content">

    <!-- Services Tab -->
    <div data-ng-controller="userServicesListCtrl" class="tab-pane fade in active" id="services">
      <div class="row top-section">
        <div class="col-sm-4">
          <div class="services-list panel panel-default">
            <div class="panel-heading">My Services</div>
            <div class="panel-body">
              <div data-ng-cloak data-ng-click="doSelectService($event, service)" data-ng-class="(service == selected_service ? 'active' : '')" data-ng-repeat="service in user_services" class="panel panel-info service-listing">
                <div class="panel-body">
                  <h4><a href="">{{ service.name }}</a></h4>
                  <div class="button-bar">
                    <ul>
                      <li><a href="" data-ng-click="doOpenEditServiceDialog($event, service)" class="btn btn-default"><i class="fa fa-gear"></i> Edit</a></li>
                      <li data-ng-click="doToggleOnlineStatus($event, service)" data-ng-show="(service.is_active)"><a href="" class="btn btn-info"><i class="fa fa-hand-stop-o"></i> Go Offline</a></li>
                      <li data-ng-click="doToggleOnlineStatus($event, service)" data-ng-show="(!service.is_active)"><a href="" class="btn btn-success"><i class="fa fa-check"></i> Go Online</a></li>
                      <li><a data-ng-click="doDelete($event, service)" href="" class="btn btn-danger"><i class="fa fa-close"></i> Delete</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="service-status panel panel-info">
            <div class="panel-heading">Status</div>
            <div class="panel-body">
              <div data-ng-repeat="service in user_services" class="service-status-listing">
                <h4>{{ service.name }}</h4>
                <p data-ng-show="service.is_active"><i class="fa fa-circle active"></i> Active and open to receiving Takts</p>
                <p data-ng-show="!service.is_active"><i class="fa fa-circle inactive"></i> Not active and cannot receive Takts</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="takt-list panel panel-default">
            <div class="panel-heading">{{ selected_service.name }}</div>
            <div class="panel-body">
              <p data-ng-show="!selected_service.takts || selected_service.takts.length == 0" style="text-align: center; font-size: 15px"><i class="fa fa-info-circle"></i> This service currently has no messages.</p>
              <div data-ng-cloak data-ng-repeat="takt in selected_service.takts" class="panel panel-default">
                <div class="takt-listing">
                  <h4>{{ takt.author_name }}</h4>
                  <p class="takt-body">{{ takt.content }}</p>
                  <p class="takt-date">Sent June 17, 2016 at 2:30pm</p>
                  <ul class="button-bar">
                    <li><a class="btn btn-success" href=""><i class="fa fa-comments"></i> Respond</a></li>
                    <li><a data-ng-click="doDeleteTakt($event, takt)" class="btn btn-info" href=""><i class="fa fa-eraser"></i> Delete</a></li>
                    <li><a class="btn btn-danger" href=""><i class="fa fa-ban"></i> Block User</a></li>
                    <li><a class="btn btn-default" href=""><i class="fa fa-gavel"></i> Report User</a></li>
                  </ul>
                </div>

                <ul data-ng-show="show_pages" class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="ratings">
            <h3>Ratings</h3>
            <div class="rating">
              <h4>User Name</h4>
              <div class="rating-score">
                <span class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <p class="message">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="date">Sent on June 18, 2016 on 1:42pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Create Tab -->
    <div data-csrf="<%= form_authenticity_token %>" data-ng-controller="createEditServiceCtrl" class="tab-pane fade" id="create">
      <form data-ng-submit="doSubmit($event)">
        <div class="row">
          <div class="col-sm-6">
            <h4>Basic Information</h4>
            <p><i class="fa fa-info-circle"></i> It is important that the information you provide about your service or business
            is accurate to ensure that users can find it in the search.</p>
            <div class="form-group">
              <label>Services Category</label>
              <select data-ng-options="category as category.name for category in categories track by category.id" data-ng-model="service.category" class="form-control">
              </select>
            </div>
            <div data-ng-class="(errors.name ? 'has-error' : '')" class="form-group">
              <label>Service/Business Name</label>
              <input data-ng-model="service.name" class="form-control" placeholder="Name"/>
              <span class="control-label" data-ng-bind="errors.name[0]"></span>
            </div>
            <div data-ng-class="(errors.email ? 'has-error' : '')" class="form-group">
              <label>Service Email</label>
              <input data-ng-model="service.email" type="text" class="form-control" placeholder="Service Email"/>
              <span class="control-label" data-ng-bind="errors.email[0]"></span>
            </div>
            <div data-ng-class="(errors.phone ? 'has-error' : '')" class="form-group">
              <label>Contact Phone Number (xxx) xxx - xxxx</label>
              <input data-ng-model="service.phone" type="tel" class="form-control" placeholder="Contact Phone Number"/>
              <span class="control-label" data-ng-bind="errors.phone[0]"></span>
            </div>
            <div data-ng-class="(errors.description ? 'has-error' : '')" class="form-group">
              <label>Description</label> (0/300)
              <p>Write a brief description of the goods/service you offer.</p>
              <div class="form-group">
                <textarea data-ng-model="service.description" maxlength="300" rows="5" class="form-control"></textarea>
                <span class="control-label" data-ng-bind="errors.description[0]"></span>
              </div>
            </div>
            <div class="form-group">
              <label>Keywords</label>
              <p>Comma separated keywords allow your service to be found in the search. Put in keywords that
              are relevant to the goods and services you Offer. <em>(Example: chinese food, sushi, korean beef)</em></p>
              <div data-ng-class="(errors.keywords ? 'has-error' : '')" class="form-group">
                <textarea data-ng-model="service.keywords" maxlength="300" rows="5" class="form-control"></textarea>
                <span class="control-label" data-ng-bind="errors.keywords[0]"></span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>Location Information</h4>
            <p><i class="fa fa-info-circle"></i> The address of service is very important for users near your
            location can find you. Therefore, please make sure your address is always kept up-to-date and that it
            is accurate.</p>
            <div data-ng-class="(errors.line_1 ? 'has-error' : '')" class="form-group">
              <label>Address Line 1</label>
              <input data-ng-model="service.address_line_1" type="text" placeholder="Address Line 1" class="form-control"/>
              <span class="control-label" data-ng-bind="errors.line_1[0]"></span>
            </div>
            <div class="form-group">
              <label>Address Line 2</label>
              <input data-ng-model="service.address_line_2" type="text" placeholder="Address Line 2" class="form-control"/>
            </div>
            <div data-ng-class="(errors.city ? 'has-error' : '')" class="form-group">
              <label>City</label>
              <input data-ng-model="service.address_city" type="text" placeholder="City" class="form-control"/>
              <span class="control-label" data-ng-bind="errors.city[0]"></span>
            </div>
            <div data-ng-class="(errors.zip_code ? 'has-error' : '')" class="form-group">
              <label>Zip Code</label>
              <input data-ng-model="service.zip_code" type="text" class="form-control" placeholder="Zip Code"/>
              <span class="control-label" data-ng-bind="errors.zip_code[0]"></span>
            </div>
            <h4>Service Settings</h4>
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-lock"></i> Privacy Settings</div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item"><input data-ng-model="service.is_published" type="checkbox"/> Publish My Service In Search</li>
                  <li class="list-group-item"><input data-ng-model="service.are_ratings_allowed" type="checkbox"/> Allow Ratings <em>(Increases search ranking)</em></li>
                  <li class="list-group-item"><input data-ng-model="service.is_sharing_allowed" type="checkbox"/> Allow users to share my service</li>
                  <li class="list-group-item"><input data-ng-model="service.can_receive_takts" type="checkbox"/> Allow users to send Takts <em>(Increases search ranking)</em></li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success"><i class="fa fa-save"></i> Save Service</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit service panel -->
  <div data-ng-controller="createEditServiceCtrl" class="modal fade edit-service">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4><i class="fa fa-cog"></i> Edit Service</h4>
        </div>
        <div class="modal-body">
          <div data-ng-cloak data-ng-show="!loading">
          <form data-ng-submit="doSubmit($event)">
            <div class="row">
              <div class="col-sm-6">
                <h4>Basic Information</h4>
                <p><i class="fa fa-info-circle"></i> It is important that the information you provide about your service or business
                  is accurate to ensure that users can find it in the search.</p>
                <div class="form-group">
                  <label>Services Category</label>
                  <select data-ng-options="category as category.name for category in categories track by category.id" data-ng-model="service.category" class="form-control">
                  </select>
                </div>
                <div data-ng-class="(errors.name ? 'has-error' : '')" class="form-group">
                  <label>Service/Business Name</label>
                  <input data-ng-model="service.name" class="form-control" placeholder="Name"/>
                  <span class="control-label" data-ng-bind="errors.name[0]"></span>
                </div>
                <div data-ng-class="(errors.email ? 'has-error' : '')" class="form-group">
                  <label>Service Email</label>
                  <input data-ng-model="service.email" type="text" class="form-control" placeholder="Service Email"/>
                  <span class="control-label" data-ng-bind="errors.email[0]"></span>
                </div>
                <div data-ng-class="(errors.phone ? 'has-error' : '')" class="form-group">
                  <label>Contact Phone Number (xxx) xxx - xxxx</label>
                  <input data-ng-model="service.phone" type="tel" class="form-control" placeholder="Contact Phone Number"/>
                  <span class="control-label" data-ng-bind="errors.phone[0]"></span>
                </div>
                <div data-ng-class="(errors.description ? 'has-error' : '')" class="form-group">
                  <label>Description</label> (0/300)
                  <p>Write a brief description of the goods/service you offer.</p>
                  <div class="form-group">
                    <textarea data-ng-model="service.description" maxlength="300" rows="5" class="form-control"></textarea>
                    <span class="control-label" data-ng-bind="errors.description[0]"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Keywords</label>
                  <p>Comma separated keywords allow your service to be found in the search. Put in keywords that
                    are relevant to the goods and services you Offer. <em>(Example: chinese food, sushi, korean beef)</em></p>
                  <div data-ng-class="(errors.keywords ? 'has-error' : '')" class="form-group">
                    <textarea data-ng-model="service.keywords" maxlength="300" rows="5" class="form-control"></textarea>
                    <span class="control-label" data-ng-bind="errors.keywords[0]"></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h4>Location Information</h4>
                <p><i class="fa fa-info-circle"></i> The address of service is very important for users near your
                  location can find you. Therefore, please make sure your address is always kept up-to-date and that it
                  is accurate.</p>
                <div data-ng-class="(errors.line_1 ? 'has-error' : '')" class="form-group">
                  <label>Address Line 1</label>
                  <input data-ng-model="service.address_line_1" type="text" placeholder="Address Line 1" class="form-control"/>
                  <span class="control-label" data-ng-bind="errors.line_1[0]"></span>
                </div>
                <div class="form-group">
                  <label>Address Line 2</label>
                  <input data-ng-model="service.address_line_2" type="text" placeholder="Address Line 2" class="form-control"/>
                </div>
                <div data-ng-class="(errors.city ? 'has-error' : '')" class="form-group">
                  <label>City</label>
                  <input data-ng-model="service.address_city" type="text" placeholder="City" class="form-control"/>
                  <span class="control-label" data-ng-bind="errors.city[0]"></span>
                </div>
                <div data-ng-class="(errors.zip_code ? 'has-error' : '')" class="form-group">
                  <label>Zip Code</label>
                  <input data-ng-model="service.zip_code" type="text" class="form-control" placeholder="Zip Code"/>
                  <span class="control-label" data-ng-bind="errors.zip_code[0]"></span>
                </div>
                <h4>Service Settings</h4>
                <div class="panel panel-default">
                  <div class="panel-heading"><i class="fa fa-lock"></i> Privacy Settings</div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item"><input data-ng-model="service.is_published" type="checkbox"/> Publish My Service In Search</li>
                      <li class="list-group-item"><input data-ng-model="service.are_ratings_allowed" type="checkbox"/> Allow Ratings <em>(Increases search ranking)</em></li>
                      <li class="list-group-item"><input data-ng-model="service.is_sharing_allowed" type="checkbox"/> Allow users to share my service</li>
                      <li class="list-group-item"><input data-ng-model="service.can_receive_takts" type="checkbox"/> Allow users to send Takts <em>(Increases search ranking)</em></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
          <div data-ng-cloak data-ng-show="loading">
            <h4><i class="fa fa-clock-o"></i> Loading...please wait...</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
          <button data-ng-click="doUpdate($event)" class="btn btn-success" type="button"><i class="fa fa-save"></i> Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

