<% content_for :title do %>Forgot Password<% end %>
<h1 style="text-align: center">Password Reset</h1>
<div style="text-align: center">
  <%= form_for(:user, url: password_resets_create_path ) do |f| %>
    <%= f.label(:email, "Enter your email address") %><br>
    <%= f.text_field(:email) %>
    <%= f.submit("Send Email") %>
  <% end %>
</div>
