<% content_for :title do %>Password Changed<% end %>
<h1 style="text-align: center">Password Reset!</h1>

<p style="text-align: center">Your password has now been changed.</p>

<h2 style="text-align: center"><%= link_to "Back to Login", login_path %></h2>

