<h1>Password Reset</h1>

<p>To reset your password, click the link below:</p>

<%= @reset_link %>

<p>The link will expire in 2 hours. If you did not request for your password to be reset, simply ignore this
email and your password will not be reset.</p>

<p>Thank you,
The Taktyx Team
https://www.taktyx.com</p>