<% content_for :title do %>Registration<% end %>
<div data-csrf-name="<%= request_forgery_protection_token.to_s %>" data-csrf="<%= form_authenticity_token %>" data-ng-controller="userRegisterCtrl" class="container user-registration">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-user"></i> User Registration</h1>
      <p>Use the form below to enter your information to start using Taktyx right away!</p>
    </div>
  </div>
  <div class="row">
    <form data-ng-submit="doSubmit($event)">
      <div class="col-sm-6">
        <div data-ng-class="(errors.first_name ? 'has-error' : '')" class="form-group">
          <label>First Name</label>
          <input maxlength="25" data-ng-model="user.first_name" type="text" class="form-control" placeholder="First Name"/>
          <span class="control-label" data-ng-bind="errors.first_name[0]"></span>
        </div>
        <div data-ng-class="(errors.last_name ? 'has-error' : '')" class="form-group">
          <label>Last Name</label>
          <input maxlength="25" data-ng-model="user.last_name" type="text" class="form-control" placeholder="Last Name"/>
          <span class="control-label" data-ng-bind="errors.last_name[0]"></span>
        </div>
        <div data-ng-class="(errors.screen_name ? 'has-error' : '')" class="form-group">
          <label>Screen Name</label>
          <input maxlength="16" data-ng-model="user.screen_name" type="text" class="form-control" placeholder="Screen Name"/>
          <span class="control-label" data-ng-bind="errors.screen_name[0]"></span>
        </div>
        <div data-ng-class="(errors.email ? 'has-error' : '')" class="form-group">
          <label>Email</label>
          <input maxlength="45" data-ng-model="user.email" type="text" class="form-control" placeholder="Email"/>
          <span class="control-label" data-ng-bind="errors.email[0]"></span>
        </div>
        <div data-ng-class="(errors.password ? 'has-error' : '')" class="form-group">
          <label>Password</label>
          <input data-ng-model="user.password" type="password" class="form-control" placeholder="Password"/>
          <span class="control-label" data-ng-bind="errors.password[0]"></span>
        </div>
        <div data-ng-class="(errors.password_confirmation ? 'has-error' : '')" class="form-group">
          <label>Confirm Password</label>
          <input data-ng-model="user.password_confirmation" type="password" class="form-control" placeholder="Confirm Password"/>
          <span class="control-label" data-ng-bind="errors.password_confirmation[0]"></span>
        </div>
        <div class="form-group">
          <input data-ng-model="newsletter_sub" type="checkbox"/> I would like to subscribe to the Taktyx Newsletter.
        </div>
        <div class="form-group">
          <button class="btn btn-success"><i class="fa fa-check"></i> Register</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Legal Stuff (To Protect Us And You)</div>
          <div class="panel-body agreement-section">
            <div>
              <iframe src="<%= terms_of_service_path %>"></iframe>
            </div>
            <div>
              <input data-ng-model="tos" type="checkbox"/> <span data-ng-class="(errors.tos ? 'error-text' : '')">I have read and agree to the terms of service agreement.</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>